<md-content class="md-padding">
    <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-raised" ng-if="!isLoggedIn" ng-click="trello_connect()"> Sign In </md-button>
    </div>
    <div class="headerbox">
        <h4> <md-progress-circular ng-show="startLoad" md-mode="indeterminate" class="md-display-2"></md-progress-circular></h4>
    </div>

    <span class="md-primary" ng-if="cards.length === 0"> Empty - Sign in first / No Comment mentioned you! </span>

    <md-card class="unstyled" ng-repeat="card in cards">
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span id="{{card.id}}">{{card.name}}</span>
            </h2>

        </md-toolbar>

        <md-card-content class="md-padding">

        <md-subheader class="md-primary">{{ card.commentCard.length }} comments</md-subheader>
        <md-list>
            <md-list-item ng-repeat="comment in card.commentCard" ng-class="comment.read ? '':'md-whiteframe-z3'">
                <img ng-if="comment.memberCreator.avatarHash != null" ng-src="{{ avatar_src(comment.memberCreator.avatarHash) }}" class="md-avatar" alt="{{comment.memberCreator.fullName}}" />

                <md-button ng-if="comment.memberCreator.avatarHash == null" class="md-fab md-grey" aria-label="{{comment.memberCreator.fullName}}">{{comment.memberCreator.initials}}
                </md-button>

                <div class="md-list-item-text">

                    <h3>{{comment.memberCreator.fullName}}</h3>
                    <h4>{{comment.data.text}}</h4>
                    <p>{{comment.date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
                <md-checkbox class="md-secondary" ng-model="comment.read"></md-checkbox>
            </md-list-item>
        </md-list>
        </md-card-content>
        <br/>
    </md-card>

</md-content>