<md-content class="md-padding">

<md-button class="md-raised" ng-hide={{isLoggedIn}} ng-click="trello_connect()"> Connect Trello </md-button>
<h1>Trello Inbox </h1>


<h2>{{board.name}}</h2>

<md-card class="unstyled" ng-repeat="card in cards">
    <md-card-content >
    <md-listn>
        <md-subheader class="md-no-sticky">{{ filteredActions.length }} line item</md-subheader>
        <md-subheader class="md-no-sticky"> Checkbox with Secondary Action </md-subheader>
        <p class="" id="{{card.id}}">{{card.name}}</p>
        <md-list-item ng-repeat="comment in filteredActions  = (card.actions | filter:type: commentCard)">
            <md-checkbox ng-model="comment.read"></md-checkbox>
            <div class="md-list-item-text">
                <h3>{{comment.memberCreator.fullName}}</h3>
                <h4>{{comment.data.text}}</h4>
                <p>{{comment.date }}</p>
            </div>

            <md-icon class="md-secondary" ng-click="" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
        </md-list-item>
    </md-listn>
    </md-card-content>
</md-card>


<p>This is the partial for view board.</p>

</md-content>