/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.carddemoBasicUsage md-card {
    min-height: 150px; }

.buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }
.buttondemoBasicUsage md-content {
    margin-right: 7px; }
.buttondemoBasicUsage section .md-button {
    margin-top: 16px;
    margin-bottom: 16px; }
.buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    font-size: 14px;
    opacity: 0.54;
}
.headerbox md-progress-circular {
    margin: auto;
}
.mainComment .md-list-item-text{
    width: 79%;
}
.replyComment .md-list-item-text{
    width: 90%;
}

.md-list-item-text .author{
    text-align: right;
}

.fabToolbardemoBasicUsage md-fab-toolbar.md-left md-fab-trigger.align-with-text {
left: 7px; }

.serachInputContainer{
    height: 52px;
    width: 52px;
}

.md-icon{
position: absolute;
top: 10px;
left: 2px;
    margin: auto;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 25px;
    width: 25px;
}

.md-icon i{
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
}
span.label {
    margin-left: 4px;
}
md-input-container>.md-icon+input {
    margin-left: 30px;
}